<% users.each do |user| %>
  <tr>
    <td><%= image_tag user.get_profile_image(80,80) %></td>
    <td><P><%= user.name %></P></td>
    <td id="index_followings_counts_<%= user.id %>">フォロー数:<%= user.followings.count %></td>
    <td id="index_followers_counts_<%= user.id %>">フォロワー数:<%= user.followers.count %></td>
    <td>
    <% if user != current_user %>
      <div id="user_<%= user.id %>">
        <%= render 'relationships/btn', user: user %>
      </div>
    <% end %>
    </td>
    <td><%= link_to "Show", user_path(user) %></td>
  </tr>
<% end %>