<h1>Users</h1>

<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
  <%= link_to "プロフィール編集",edit_user_path(@user) %>
</div>

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= book.title %>
  <%= book.body %>
</div>
<% end %>