<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/info', user: @user %>
      <%= render 'new', book: @book_new %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tr>
          <td>
            <%= link_to user_path(@book.user.id) do %>
              <%= image_tag @book.user.get_profile_image(80,80) %><br >
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <td id="favorite_buttons_<%= @book.id %>">
            <%= render "favorites/favorite", book: @book %>
          </td>
          <td>
            <%= @book.book_comments.count %>コメント
          </td>
          <td>
            <% if @book.user == current_user %>
              <%= link_to edit_book_path(@book) do%>
              <button class="btn btn-sm btn-success">Edit</button>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(@book.id),method: :delete, "data-confirm" => "本当に消しますか？" do%>
            <button class="btn btn-sm btn-danger">Destroy</button>
            <% end %>
          </td>
        <% end %>
        </tr>
      </table>

      <div id="comments_area">
        <%= render "book_comments/book_comments", book: @book %>
      </div>

      <div class="new_comment">
        <%= render "book_comments/form", {book: @book, book_comment: @book_comment} %>
      </div>

    </div>
  </div>
</div>